[Unit]
Description=Raspberry Pi Home Automation
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=visd
Group=visd

WorkingDirectory=/home/visd/workspace/home-automation

Environment=PYTHONUNBUFFERED=1

ExecStart=/home/visd/workspace/home-automation/.venv/bin/python \
    -m uvicorn home_automation.api.app:app \
    --host 0.0.0.0 \
    --port 8000

Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target